  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .padd {
      padding-left: 25px;
    }

    .mar-l {
      margin-left: 45px;
    }

    .w-85 {
      width: 55% !important;
    }
 }
